<div class="container">
  <div>
    <label>From: </label>
    <input type="datetime-local" [(ngModel)]="startTime"  id="startTime">
  </div>
  <div>
    <label>To: </label>
    <input type="datetime-local" [(ngModel)]="endTime"  id="endTime">
  </div>
  <div class="button-container">
    <button class="custom-button" id="getJobTable" (click)="submitForm()">View Job Table</button>
  </div>
</div>

<br>

<table class="job-table" *ngIf="DisplayTable">
  <thead>
    <tr>
      <th>Job Name</th>
      <th>Build Number</th>
      <th>Date</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jobBuild of jobBuilds">
      <td>{{ jobBuild.jobname }}</td>
      <td>{{ jobBuild.buildnumber }}</td>
      <td>{{ jobBuild.date }}</td>
      <td>{{ jobBuild.duration }}</td>
    </tr>
  </tbody>
</table>
