

<div class="container">

  <label for="node-select">Choose a node: </label>
  <select id="node-select" [(ngModel)]="selectedNode">
    <option value="">--Please choose an option--</option>
    <option *ngFor="let node of nodeNames" [value]="node">{{ node }}</option>
  </select>

  
  <div>
    <label>From: </label>
    <input type="datetime-local" [(ngModel)]="startTime" id="startTime">
  </div>
  <div>
    <label>To: </label>
    <input type="datetime-local" [(ngModel)]="endTime" id="endTime">
  </div>



  





  <div class="button-container">
    <button class="custom-button" id="getJobTable" (click)="submitForm()">View Job Table And Chart</button>
    <button class="custom-button" id="downloadReportButton" (click)="downloadReport()" [disabled]="!DisplayTable">Download Report</button>
  </div>
</div>

<br>
<div>
  <div>
    <table class="job-table" *ngIf="DisplayTable">
      <thead>
        <tr>
          <th>Job Name</th>
          <th>jobStatus</th>
          <th>Build Number</th>
          <th>Start date</th>
          <th>Duration</th>
          <th>End date</th>
          <th>Queuing Duration</th>
          <th>ExecutionDate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jobBuild of jobBuilds">
          <td>{{ jobBuild.jobname }}</td>
          <td>{{ jobBuild.jobStatus }}</td>
          <td>{{ jobBuild.buildnumber }}</td>
          <td>{{ jobBuild.date }}</td>
          <td>{{ jobBuild.duration }}</td>
          <td>{{ jobBuild.TheEndTime }}</td>
          <td>{{ jobBuild.queuingDuration }}</td>
          <td>{{ jobBuild.ExecutionDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <br><br>
    <div class="bar-container" *ngFor="let build of builds">
      <div class="legend">{{ build.jobname }} N° {{ build.buildnumber }}:</div>
      <div class="bar" [style.width]="getBarWidth(build.duration)">
        <span class="duration-label">{{ build.duration }}</span>
      </div>
    </div>
  </div>
</div>
