.container {
    display: flex;
    align-items: center;
  }
  
  .label-container {
    flex-grow: 1;
  }
  
  #getJobTable {
    margin-left: 10px;
  }
  
  .job-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .job-table th,
  
  .job-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .job-table th {
    font-weight: bold;
  }
  
  .job-table tbody tr:last-child td {
    border-bottom: none;
  }
  