<div style="display: flex; justify-content: space-between;">
  <div style="width: 50%;">
    <h1 style="text-align: center; font-weight: bold; color: rgb(255, 128, 0);">Last Hour Job Description:</h1>
    <table class="job-table">
      <thead>
        <tr>
          <th>Job Name</th>
          <th>Build Number</th>
          <th>Date</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobDescriptions">
          <td>{{ job.jobname }}</td>
          <td>{{ job.buildnumber }}</td>
          <td>{{ job.date }}</td>
          <td>{{ job.duration }}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div style="width: 50%;">
    <h1 style="text-align: center; font-weight: bold; color: rgb(255, 128, 0);">Last Hour Build Durations:</h1>
    <div class="bar-container" *ngFor="let build of builds">
      <div class="legend">Number {{ build.buildnumber }}:</div>
      <div class="bar" [style.width]="getBarWidth(build.duration)">
        <span class="duration-label">{{ build.duration }}</span>
      </div>
    </div>
  </div>
</div>
