<div>  
   <h1 style="text-align: center; font-weight: bold; color: rgb(255, 128, 0);">Last Job Build Description (project-jenkins):</h1>

<table class="job-table">
    <thead>
      <tr>
        <th>Job Name</th>
        <th>jobStatus</th>
        <th>Build Number</th>
        <th>Start date</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobDescriptions">
        <td>{{ job.jobname }}</td>
        <td>{{ job.jobStatus }}</td>
        <td>{{ job.buildnumber }}</td>
        <td>{{ job.date }}</td>
        <td>{{ job.duration }}</td>

      </tr>
    </tbody>
</table>
</div>